@charset "UTF-8";
/* CSS Document */

/* iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }



/*  iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */   
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }



/*  Retina iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  Retina iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */  

body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  Retina iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ 
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  iPad 1 & 2 in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }

/*  iPad 1 & 2 in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  iPad 1 & 2 in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
  }


/*  iPad mini in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ 
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
  }

/*  iPad mini in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }




/*  iPad mini in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}

}


/*  iPhone 5 in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { /* STYLES GO HERE */ 
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  iPhone 5 in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 
}


/*  iPhone 5 in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { /* STYLES GO HERE */   
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/* iPhone 2G-4S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { /* STYLES GO HERE */ 
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
  }


/* iPhone 2G-4S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
 }


/*  iPhone 2G-4S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) { /* STYLES GO HERE */  
body{
		
	}
	.wrapper{
		width:100% !important;
	}
	.float-right{
		display:none;
	}
	.float-left, .date_time{
		display:block;
		width:100%;
		text-align:center;
		height:20px;
		line-height:20px;
		font-weight:bold;
		font-size:20px;
		margin:0 !important;
	}
	.deepest {
		display:none;
	}
	#logo, #logo > img, #menu {
		float:none;
		display:block;
		width:100%;
	}
	#menubar{
		padding: 0 !important;
	}
	.menu-dropdown, .menu-dropdown .level1, .menu-dropdown .level1 > span{
		float:none !important;
		display:block;
		width:100%;
	}
	.menu-dropdown li.level1{
		margin:0 !important;
		padding: 0 !important;
		text-align:center;
	}
	#menu .dropdown{
		display:none;
	}
	
	#top-a{
		margin-top:20px;
	}
	.container{
		width: 100%;
	}
	.slidesjs-previous, .slidesjs-next{
		display: none !important;
	}
	#slides .infomation_pro{
		width: 30%;
		margin: 3px !important;
	}
	.slidesjs-slide div img {
		height: 80% !important;
		width:60% !important;
	}
	#content{
		padding:17px !important;
	}
	#maininner{
		width: 100% !important;
	}
	.title{
		width: 100%;
		text-align:center;
	}
	.element_project{
		margin:0px !important;
		padding:0px !important;
		text-align:center;
		width:100%;
	}
	.element_project a{
		width: 100% !important;
		float:none;
		background-size: 60% 80% !important;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#cboxContent{
		width: 70% !important;
		height:70% !important;
	}
	#cboxLoadedContent{
		width:70% !important;
		height:70% !important;
	}
	#cboxLoadedContent img {
		width: 100% !important;
		height:100% !important;
	}
	.grid-box{
		float: none !important;
		display:inline-block !important;
	}
	#sidebar-b .grid-box .deepest{
		display: block;
	}
	#sidebar-b{
		text-align: center !important;
		width: 100% !important;
	}
	#sidebar-b .grid-box .deepest div img.display-block {
		width: 100%;
	}
	.module-title{
		display: block;
		width: 100%;
	}
	#block-bottom{
		display: none;
	}
	#block-footer{
		width: 100%;
		text-align:center;
	}
	#footer{
		text-align: center !important;
		
	}
	.my-author{
		display:block !important;
	}
  }

